{% extends "base.html" %}
{% block title %}BeeGFS - The Leading Parallel Cluster File System{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}BeeGFS{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}beegfs.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/beegfs.jpg'); background-position: 50% 30%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">BeeGFS</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">The Leading Parallel Cluster File System</p>
						</div>
						<img src="images/beegfs-goldpartner.png" class="beegfs-partner visible-lg visible-md">
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-12">
									<h3><strong>What</strong> is BeeGFS?</h3>
									<div class="separator-2"></div>
									<p>BeeGFS (formerly FhGFS) is the leading parallel cluster file system, developed with a strong focus on <strong>performance</strong> and designed for very <strong>easy installation</strong> and management. If I/O intensive workloads are your problem, BeeGFS is the solution.</p>
								</div>
								<div class="col-md-12">
									<h3><strong>Why</strong> use BeeGFS?</h3>
									<div class="separator-2"></div>
									<p>BeeGFS <strong>transparently</strong> spreads user data across multiple servers. By increasing the number of servers and disks in the system, you can simply <strong>scale performance and capacity</strong> of the file system to the level that you need, seamlessly from small clusters up to enterprise-class systems with thousands of nodes.</p>
								</div>
								<div class="col-md-12">
									<h3><strong>Get</strong> The Most Out Of Your Data</h3>
									<div class="separator-2"></div>
									<p>The flexibility, robustness, and outstanding performance ofBeeGFS help our customers around the globe to <strong>increase productivity</strong> by delivering results faster and by <strong>enabling newdata analysis methods</strong> that were not possible without the advantages of BeeGFS.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<img src="images/beegfs-architecture.jpg">
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}