{% extends "base.html" %}
{% block title %}NVIDIA DGX H100 AI for Enterprise{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}NVIDIA DGX&trade; H100{% endblock %}
{% block hreflang %}{% block langlinkmobiletr %}{% block langlinktr %}dgx-h100.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner pv-40" style="background-image:url('images/banners/dgx-h100.jpg'); background-position: 58% 75%;">
				<div class="container pv-40">
					<div class="row">
						<div class="col-md-12 pv-20">
							<h2 class="title text-white object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">NVIDIA DGX&trade; H100</h2>
							<p class="object-non-visible text-white lead" data-animation-effect="fadeIn" data-effect-delay="200">The gold standard for AI infrastructure.</p>
							<div class="pv-20">
								<a href="contact.html" class="btn btn-red btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
								<a href="https://nvdam.widen.net/s/kpwzdwrwbv/ai-for-enterprise-dgx-h100-datasheet-nvidia-a4-2146027-r3-web" class="btn btn-dark btn-hvr hvr-shutter-out-horizontal margin-clear" target="_blank">DATASHEET</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container text-center">

					<div class="row">
						<div class="col-md-12">
							<div class="pv-30">
								<h2 class="text-default">The World’s Proven Choice for Enterprise AI</h2>
								<div class="separator"></div>
								<p class="lead">Expand the frontiers of business innovation and optimization with NVIDIA DGX™ H100. The latest iteration of NVIDIA’s legendary DGX systems and the foundation of NVIDIA DGX SuperPOD™, DGX H100 is the AI powerhouse that’s accelerated by the groundbreaking performance of the NVIDIA H100 Tensor Core GPU.</p>
							</div>
						</div>
					</div><!-- /row -->  

				</div><!-- /container -->
			</section>
			<section class="light-gray-bg border-top">
				<div class="container pv-30">
					<div class="row">
						<div class="col-md-12 space-bottom">
							<h2 class="text-center text-default">The Most Complete AI Platform</h2>
							<div class="separator"></div>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-1.svg"></div>
							<h5 class="mt-20">The Cornerstone of Your AI Center of Excellence</h5>
							<div class="separator-2"></div>
							<p>DGX H100 is the fourth generation of the world’s premier purpose-built AI infrastructure, a fully optimized hardware and software platform that includes support for the new range of NVIDIA AI software solutions, a rich ecosystem of third-party support, and access to expert advice from NVIDIA professional services.</p>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-2.svg"></div>
							<h5 class="mt-20">Break Through the Barriers to AI at Scale <br>&nbsp;</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX H100 features 6X more performance, 2X faster networking, and high-speed scalability for NVIDIA DGX SuperPOD. The next-generation architecture is supercharged for the largest workloads such as natural language processing and deep learning recommendation models.</p>
						</div>
						<div class="col-md-4">
							<div class="imgwidth"><img alt="" src="images/dgx-h100-benefits-3.svg"></div>
							<h5 class="mt-20">Leadership-Class Infrastructure on Your Terms</h5>
							<div class="separator-2"></div>
							<p>DGX H100 can be installed on-premises for direct management, colocated in NVIDIA DGX-Ready data centers, rented in NVIDIA DGX Foundry, and accessed through NVIDIA-certified managed service providers. And with DGX-Ready Lifecycle Management, organizations get a predictable financial model to keep their deployment at the leading edge.</p>
						</div>
					</div><!-- /row -->  
				</div><!-- /container -->
			</section>
			<section class="black-bg border-top">
				<div class="container pv-40">
					<h1 class="text-center text-white pv-20">EXPLORE DGX H100</h1>
					<div class="row">
						<div class="col-sm-12 col-md-5 col-md-offset-1 mt30-xs">		
							<div class="pv-40">
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>8x NVIDIA H100 GPUs WITH 640 GIGABYTES OF TOTAL GPU MEMORY</strong></span><br>
									18x NVIDIA® NVLink® connections per GPU, 900 gigabytes per second of GPU-to-GPU bidirectional bandwidth
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>4x NVIDIA NVSWITCHES™</strong></span><br>
									7.2 terabytes per second of bidirectional GPU-to-GPU bandwidth, 1.5X more than previous generation
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>8x NVIDIA CONNECTX®-7 and 2x NVIDIA BLUEFIELD® DPU 400 GIGABITS-PER-SECOND NETWORK INTERFACE</strong></span><br>
									1 terabyte per second of peak bidirectional network bandwidth
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>DUAL x86 CPUs AND 2 TERABYTES OF SYSTEM MEMORY</strong></span><br>
									Powerful CPUs for the most intensive AI jobs
								</p>
								<p>
									<i class="icon-right-open text-default"></i>
									<span class="text-default pl-5" style="text-transform: uppercase;"><strong>30 TERABYTES NVME SSD</strong></span><br>
									High speed storage for maximum performance
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-md-6">
							<img alt="NVIDIA DGX-H100" src="images/dgx-h100-components.jpg">
						</div>
					</div><!-- /row -->  
				</div><!-- /container -->
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}