{% extends "base.html" %}
{% block title %}FeynmanGrid{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">FeynmanGrid</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/feynmangrid.jpg'); background-position: 50% 25%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA FeynmanGrid</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">FeynmanGrid service is managed & supported entirely by CompecTA, taking advantage of years experience in performance optimizing HPC Clusters & first class support.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								
								<div class="body">
									<div class="separator"></div>
									<p>We offer a HPC Cluster service which you can use to run your applications, renting CPU time & disk space. We call it FeynmanGrid in the honour of the great physicist Richard Feynman.</p><br>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
								
								<div class="body">
									<div class="separator"></div>
									<p>Our cluster uses Intel’s best Xeon CPUs with FDR Infiniband interconnects (56Gbit/s) and our modern and flexible file system solution, the FeynmanStor Z.</p><br>
								</div>
							</div>
						</div>
						<div class="col-md-4 space-top">
							<p class="text-center">We offer a HPC Cluster service which you can use to run your applications, renting CPU time & disk space. We call it FeynmanGrid in the honour of the great physicist Richard Feynman.</p>
						</div>
						<div class="col-md-4 space-top">
							<p class="text-center">FeynmanGrid service is managed & supported entirely by CompecTA, taking advantage of years experience in performance optimizing HPC Clusters & first class support.</p>
						</div>
						<div class="col-md-4 space-top">
							<p class="text-center">Our cluster uses Intel’s best Xeon CPUs with FDR Infiniband interconnects (56Gbit/s) and our modern and flexible file system solution, the FeynmanStor Z.</p>
						</div>
					</div>
					<div class="row space-top">
						<div class="col-md-6">
							<img src="images/virtualization.jpg" alt="" class="img-responsive thumbnail">
						</div>
						<div class="col-md-6">
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Centralising hardware, management and security</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Removing the need to maintain dual desktop types (terminal and single user)</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Providing rapid provisioning technologies for testing and out-scaling</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Enabling rapid recovery from any size, or criticality, of failure</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Reducing the infrastructure footprint</p>
							</div>
							<div class="feature-box-2">
								<p><i class="text-default icon-check-1"></i> Reducing power costs</p>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</div>
			<!-- section end -->
{% endblock %}