{% extends "base.html" %}
{% block title %}High Performance Computing{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="solutions.html">Solutions</a></li>
						<li class="active">High Performance Computing</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/hpc.jpg'); background-position: 50% 35%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">High Performance Computing Solutions</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA does not just consult or give support for the system it designed, it also offers consultancy and support for the systems designed by others.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}

			<!-- section start -->
			<!-- ================ -->
			<div class="pv-20">
				<div class="container">
					<h2 class="text-center">CompecTA HPC Cluster Solutions</h2>
					<div class="separator"></div>
					<div class="row mt-10">
						<div class="main col-md-12">
							<!-- <img class="img-responsive" src="images/hpc.jpg">
							<br>
							<p>CompecTA has the most competent employees in HPC market of Turkey and  uses the latest innovations at system design and customer support.  CompecTA offers its solutions on two platforms:</p> -->
							<p class="text-center pv-20">CompecTA delivers consultancy, design, implementation, tuning and support services on HPC solutions.</p>
						</div>
						<div class="col-md-6">
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-resize-normal"></i></span>
								<div class="body">
									<h4 class="title">Responsive Design</h4>
									<p>Accurate and Precise Consultancy in order to build a consistent HPC Cluster matching to your needs</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-megaphone"></i></span>
								<div class="body">
									<h4 class="title">Easy to Use</h4>
									<p>Uniqe Know-How Resulted from Real HPC R&amp;D</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-infinity"></i></span>
								<div class="body">
									<h4 class="title">Unlimited options and variations</h4>
									<p>High Throughput Network Infrastructure Design &amp; Implementation</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-check-1"></i></span>
								<div class="body">
									<h4 class="title">Unlimited options and variations</h4>
									<p>Seamless Cluster Implementation with Dual or Single Boot Solutions</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-infinity"></i></span>
								<div class="body">
									<h4 class="title">Unlimited options and variations</h4>
									<p>Cluster Wide &amp; Application Based Effective HPC Tuning</p>
									<div class="separator-3"></div>
								</div>
							</div>
							<div class="feature-box-2 right">
								<span class="icon without-bg"><i class="text-default icon-infinity"></i></span>
								<div class="body">
									<h4 class="title">Unlimited options and variations</h4>
									<p>Fast &amp; Flawless HPC Support Services at Low Cost</p>
									<div class="separator-3"></div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="feature-box-2">
								<span class="icon without-bg"><i class="text-default icon-snow"></i></span>
								<div class="body">
									<h4 class="title">Latest Technologies</h4>
									<p>Positioning the Proper and Precise HPC Cluster Design Based on CPU &amp; GPGPU hardware</p>
									<div class="separator-2"></div>
								</div>
							</div>
							<div class="feature-box-2">
								<span class="icon without-bg"><i class="text-default icon-tools"></i></span>
								<div class="body">
									<h4 class="title">Deticated Support</h4>
									<p>Native Infiniband Data Storage System with Integrated Lustre PFS</p>
									<div class="separator-2"></div>
								</div>
							</div>
							<div class="feature-box-2">
								<span class="icon without-bg"><i class="text-default icon-star-empty"></i></span>
								<div class="body">
									<h4 class="title">Valid Code</h4>
									<p>Parallel &amp; Distributed Network File System Design &amp; Integration</p>
									<div class="separator-2"></div>
								</div>
							</div>
							<div class="feature-box-2">
								<span class="icon without-bg"><i class="text-default icon-star-empty"></i></span>
								<div class="body">
									<h4 class="title">Valid Code</h4>
									<p>Virtual Symmetric Multi Processor (vSMP) Clusters</p>
									<div class="separator-2"></div>
								</div>
							</div>
							<div class="feature-box-2">
								<span class="icon without-bg"><i class="text-default icon-star-empty"></i></span>
								<div class="body">
									<h4 class="title">Valid Code</h4>
									<p>Big Data Processing Solutions with Hadoop Project</p>
									<div class="separator-2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- section end -->
{% endblock %}