{% extends "base.html" %}
{% block title %}Molecular Dynamics with CompecTA Nebula MD&trade; Series{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA Nebula MD&trade; Series{% endblock %}
{% block hreflang %}{% block langlinkmobiletr %}{% block langlinktr %}{% block langlinkmobilede %}{% block langlinkde %}nebula.html{% endblock %}{% endblock %}{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/nebula.gif'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA Nebula MD&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">All-in-one Workstation and Server Systems optimised for Molecular Dynamics</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Turn-key solution for Molecular Dynamics simulations and GPU computing. Helping you get faster results with customisable desktop and server systems that are right fit for your budget.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row pv-20">
						<div class="col-sm-4">
							<div class="ph-20 hc-item-box text-center hc-element-invisible animated hc-element-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-suitcase"></i></span>
								<h3>Ready to Use</h3>
								<div class="separator clearfix"></div>
								<p>CompecTA Nebula MD&trade; systems comes with OS, drivers, libraries and the MD applications preinstalled and ready to use.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="ph-20 hc-item-box text-center hc-element-invisible animated hc-element-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-sliders"></i></span>
								<h3>Customisable</h3>
								<div class="separator clearfix"></div>
								<p>Workstations, Servers and HPC Cluster systems are fully customisable and designed for your spesific needs and workloads.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="ph-20 hc-item-box text-center hc-element-invisible animated hc-element-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-life-ring"></i></span>
								<h3>Enterprise Support</h3>
								<div class="separator clearfix"></div>
								<p>Every system comes with 1-Year Enterprise Technical Support and Application-level Problem Solving from CompecTA HPC Experts.</p>
							</div>
						</div>
					</div>
					<div class="row pv-20">
						<div class="col-sm-12">
							<img alt="MD_Apps" src="images/banners/nebula.gif">
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine Mini&trade; is an <strong>all-in-one, compact, cool and quiet</strong> deskside solution equipped with <strong>2 GPUs</strong> for Deep Learning & AI needs.</p>
							<p>Built with the <strong>world’s best hardware, software, and systems engineering</strong> for deep learning & AI in a powerful solution in compact form factor.</p>
							<p>It comes with Deep Learning Neural Network library, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine Mini&trade; comes with an <strong>Enterprise Level Support</strong> package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine Mini&trade; comes with <strong>50 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div> -->
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA Nova Mini&trade; Series</h3>
							<p class="small"><em>Mini Deep Learning Developer Box with NVIDIA DIGITS™</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine Mini&trade; <span class="text-default"><strong>R49</strong></span> <sup class="badge badge-green">NEW</sup></h3>
									<div class="row">
										<div class="col-md-5">
											<p class="performance"><strong>1.32 petaFLOPS Tensor Performance</strong><br>83 TFLOPS of FP16 Performance<br>83 TFLOPS of FP32 Performance</p>
											<p class="bestfor">
											<small><strong>Best suited for:</strong></small><br>
											<span class="text-default">
												Deep Learning Development<br>
												Super-Fast Neural Network Training<br>
												Super-Fast Inferencing
											</span>
											</p>
											<br class="hidden-xs">
											<p class="price"><strong>REQUEST A QUOTE</strong><br>
											<small>CNVMDB3-R49V1</small></p>
										</div>
										<div class="col-md-7">
											<div class="overlay-container mt-10">
												<img alt="R49" src="images/novamini-r49.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>Dell 24" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>64 GB DDR4 3000MHz Memory <em>(up to 256GB)</em></li>
										<li><strong>1 x NVIDIA GeForce RTX 4090 384-bit 24GB GDDR6X (Ada Lovelace)</strong></li>
										<li><strong>16,384 total CUDA® Cores</strong></li>
										<li><strong>512 total 4th Gen Tensor Cores</strong></li>
										<li>8TB SATA 6Gb 3.5” Enterprise Hard Drive</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>1200W Power Supply</li>
										<li>Logitech Wireless Keyboard and Mouse</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>50k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine Mini&trade; <span class="text-default"><strong>R39</strong></span> <sup class="badge badge-orange">POPULAR</sup></h3>
									<div class="row">
										<div class="col-md-5">
											<p class="performance"><strong>570 TFLOPS Tensor Performance</strong><br>70 TFLOPS of FP16 Performance<br>70 TFLOPS of FP32 Performance</p>
											<p class="bestfor">
											<small><strong>Best suited for:</strong></small><br>
											<span class="text-default">
												Deep Learning Development<br>
												Fast Neural Network Training<br>
												Fast Inferencing
											</span>
											</p>
											<br class="hidden-xs">
											<p class="price"><small>prices starting from</small><br><strong>$7,995</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVMDB3-R39V1</small></p>
										</div>
										<div class="col-md-7">
											<div class="overlay-container mt-10">
												<img alt="R39" src="images/novamini-r39.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>Dell 24" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>64 GB DDR4 3000MHz Memory <em>(up to 256GB)</em></li>
										<li><strong>2 x NVIDIA GeForce RTX 3090 384-bit 24GB GDDR6X (Ampere)</strong></li>
										<li><strong>20,992 total CUDA® Cores</strong></li>
										<li><strong>656 total 3rd Gen Tensor Cores</strong></li>
										<li>8TB SATA 6Gb 3.5” Enterprise Hard Drive</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>1200W Power Supply</li>
										<li>Logitech Wireless Keyboard and Mouse</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>50k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine Mini&trade; <span class="text-default"><strong>RTX6</strong></span> <sup class="badge badge-green">NEW</sup></h3>
									<div class="row">
										<div class="col-md-5">
											<p class="performance"><strong>To Be Announced</strong><br>To Be Announced<br>To Be Announced</p>
											<p class="bestfor">
											<small><strong>Best suited for:</strong></small><br>
											<span class="text-default">
												Deep Learning Development<br>
												Super-Fast Neural Network Training<br>
												Super-Fast Inferencing
											</span>
											</p>
											<br class="hidden-xs">
											<p class="price"><strong>REQUEST A QUOTE</strong><br>
											<small>CNVMDB3-RTX6V1</small></p>
										</div>
										<div class="col-md-7">
											<div class="overlay-container mt-10">
												<img alt="RTX6" src="images/novamini-rtx6.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>Dell 24" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>128 GB DDR4 3000MHz Memory <em>(up to 256GB)</em></li>
										<li><strong>2 x NVIDIA RTX 6000 384-bit 48GB GDDR6 with ECC (Ada Lovelace)</strong></li>
										<li><strong>36,352 total CUDA® Cores</strong></li>
										<li><strong>1,136 total 4th Gen Tensor Cores</strong></li>
										<li>8TB SATA 6Gb 3.5” Enterprise Hard Drive</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>1200W Power Supply</li>
										<li>Logitech Wireless Keyboard and Mouse</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>50k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>Nova Engine Mini&trade; <span class="text-default"><strong>RA6</strong></span></h3>
									<div class="row">
										<div class="col-md-5">
											<p class="performance"><strong>619.4 TFLOPS Tensor Performance</strong><br>77.42 TFLOPS of FP16 Performance<br>77.42 TFLOPS of FP32 Performance</p>
											<p class="bestfor">
											<small><strong>Best suited for:</strong></small><br>
											<span class="text-default">
												Deep Learning Development<br>
												Fast Neural Network Training<br>
												Fast Inferencing
											</span>
											</p>
											<br class="hidden-xs">
											<p class="price"><small>prices starting from</small><br><strong>$14,475</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVMDB3-RA6V1</small></p>
										</div>
										<div class="col-md-7">
											<div class="overlay-container mt-10">
												<img alt="RA6" src="images/novamini-ra6.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>Dell 24" Full HD IPS Monitor</li>
										<li>Workstation Class Motherboard</li>
										<li>INTEL / AMD up to 64-Core CPU</li>
										<li>128 GB DDR4 3000MHz Memory <em>(up to 256GB)</em></li>
										<li><strong>2 x NVIDIA RTX A6000 384-bit 48GB GDDR6 with ECC (Ampere)</strong></li>
										<li><strong>21,504 total CUDA® Cores</strong></li>
										<li><strong>672 total 3rd Gen Tensor Cores</strong></li>
										<li>8TB SATA 6Gb 3.5” Enterprise Hard Drive</li>
										<li>1TB PCIe M.2 NVMe SSD for OS</li>
										<li>1200W Power Supply</li>
										<li>Logitech Wireless Keyboard and Mouse</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach, Tensorflow</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>50k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}