{% extends "base.html" %}
{% block title %}Deep Learning with Digits DevBox{% endblock %}

{% block breadcrumb %}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li><a href="products.html">Products</a></li>
						<li class="active">CompecTA Nova Series</li>
					</ol>
				</div>
			</div>
{% endblock %}

{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/deeplearning.jpg'); background-position: 50% 55%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning with CompecTA Nova&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning made easier and faster!</p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound, and text.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-40 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade; is an <strong>all-in-one, powerful, energy-efficient, cool, and quiet</strong> deskside solution for Deep Learning needs.</p>
							<p>Built with the <strong>world’s best hardware, software, and systems engineering</strong> for deep learning in a powerful solution that can fit under your desk.</p>
							<p>It comes with Deep Learning Neural Network library, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade; comes with an Enterprise Level Support package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA Nova Engine&trade; comes with <strong>100 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
						</div>
					</div>
					<h3>CompecTA Nova Series</h3>
					<p class="small"><em>Deep Learning Developer Box for NVIDIA DIGITS™ Framework</em></p>
					<div class="separator-2"></div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow light-gray-bg">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>G80</strong></span></h3>
									<p class="performance">8.9 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development
									</p>
									<p class="price">PRICE COMING SOON<br>
									<sup><small>CNVDDB1-GTX1080v1</small></sup></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/devbox.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" U2715H WQHD 2K IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-5930K, 3.50 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA GeForce GTX 1080 8GB GDDR5X
										10,240 Total Cuda Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNNTM</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA®</strong></li>
									</ul>
									<em>Upgrades</em>
									<ul class="ph-20">
										<li>Dell 43" P4317Q UltraHD 4K IPS Monitor</li>
									</ul>
									<div class="ph-20">
										<a class="btn btn-default btn-block">ORDER NOW</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow light-gray-bg">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>TiX</strong></span></h3>
									<p class="performance">11 TFLOPS of FP32 Performance<br>44 TOPS of INT8 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									Super-fast Inferencing
									</p>
									<p class="price">PRICE COMING SOON<br>
									<sup><small>CNVDDB1-TXPV1</small></sup></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/devbox.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" U2715H WQHD 2K IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-5930K, 3.50 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA TITAN X Pascal 12GB GDDR5X
										14,336 Total Cuda Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNNTM</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA®</strong></li>
									</ul>
									<em>Upgrades</em>
									<ul class="ph-20">
										<li>Dell 43" P4317Q UltraHD 4K IPS Monitor</li>
									</ul>
									<div class="ph-20">
										<a class="btn btn-default btn-block">ORDER NOW</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow light-gray-bg">
								<div class="body">
									<h3>Nova Engine&trade; <span class="text-default"><strong>GP100</strong></span></h3>
									<p class="performance">20.7 TFLOPS of FP16 Performance<br>10.3 TFLOPS of FP32 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									Super-fast Neural Network Training
									</p>
									<p><span class="label label-info">COMING SOON!</span><br>
									<sup><small>CNVDDB1-GP100V1</small></sup></p>
									<div class="separator"></div>
									<div class="overlay-container pv-10">
										<img alt="" src="images/devbox.jpg">
									</div>
									<ul class="ph-20">
										<li>Dell 27" U2715H WQHD 2K IPS Monitor</li>
										<li>Logitech Keyboard and Mouse</li>
										<li>ASUS X99-E WS workstation motherboard</li>
										<li>Intel Core i7-5930K, 3.50 GHz, 6 Core</li>
										<li>64 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA QUADRO GP100 16GB HBM2
										14,336 Total Cuda Cores</strong></li>
										<li>3 x 3TB SATA 6Gb 3.5” Enterprise Hard Drive in RAID5</li>
										<li>512GB PCI-E M.2 SSD cache for RAID</li>
										<li>250GB SATA 6Gb Internal SSD for OS</li>
										<li>1600W Power Supply</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNNTM</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA®</strong></li>
									</ul>
									<em>Upgrades</em>
									<ul class="ph-20">
										<li>Dell 43" P4317Q UltraHD 4K IPS Monitor</li>
									</ul>
									<div class="ph-20">
										<a class="btn btn-dark btn-block disabled">Coming Soon!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<section class="section default-bg pv-40 clearfix">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="call-to-action text-center">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2">
											<h2 class="title">Get more information!</h2>
											<p>Our experts can answer all your questions.</p>
											<div class="separator"></div>
											<form class="form-inline margin-clear">
												<div class="lead">
													<label class="sr-only" for="subscribe">Email address</label>
													<i class="fa fa-envelope"></i> <a href="mailto:info@compecta.com" class="link-dark">info@compecta.com</a>
													<i class="fa fa-phone pr-5 pl-10"></i> +90 216 455-1865
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>
{% endblock %}