{% extends "base.html" %}
{% block title %}On-Demand Services{% endblock %}
{% block breadcrumbactive %}CompecTA On-Demand Services{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}dgx-1.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/ondemand.png'); background-position: 50% 30%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">CompecTA On-Demand Services</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="150"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200"><em>Affordable, Robust & Super-Fast as ever more</em></p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<h3>Minimize your Investment & Maximize your Efficiency.</h3>
							<div class="separator-2"></div>
							<p>CompecTA offers HPC Cluster on-demand service which you can use to run your applications, <strong>renting CPU & GPGPU Time & Disk Space,</strong> when you need it. Lowering your investment, saving you money and time to get the results you expected.</p>
							<p>CompecTA, wielding its over 20 years of experience in High Performance Computing Clusters, gives <strong>system administration and application level support</strong>, saving you from troubleshooting hardware and software issues. Spend less time tuning and optimizing and more time focused on discovery.</p>
							<p><em>Register your information to demand a free account and start using CompecTA’s Solutions.</em></p>
						</div>
						<div class="col-md-5">
							<h3>Save your OPEX & CAPEX!</h3>
							<div class="separator-2"></div>
							<ul class="ph-20">
								<li><strong>Try & Buy</strong> Cloud Services Options</li>
								<li><strong>Free CPU & GPGPU</strong> Hours for Academic Users</li>
								<li><strong>NDA</strong> for Your Information Security</li>
								<li><strong>Lowest Cost</strong>, Highest Computing Power</li>
								<li><strong>Easy Payment</strong> Options</li>
								<li><strong>Special Support</strong> for your RFQs</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA offers new opportunities to Deep Learning Researchers</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning Solutions on Demand.</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
							<img class="" alt="NVIDIA DGX-1" src="images/mail-dgx1-banner.jpg">
								<div class="body">
									<h3>World's Fastest Deep Learning Platform NVIDIA® DGX-1™ V100 Edition <br>
									<span class="text-default">Renting & Purchasing</span> options are available for Academic and Commercial Researches.</h3>
									<p>Shared GPGPU Computing Environment for Researchers with guaranteed minimum 2 GPGPUs at a time & maximum 4 Researchers per Nvidia’s Ultimate Deep Learning Platform DGX-1™ v100 Edition.</p>
									<div class="separator"></div>
									<span>Benefits:</span>
									<ul class="ph-20">
										<li>From 2 to 8 Dedicated GPUs per Researcher</li>
										<li>Along with CompecTA’s proven High Quality Professional Application, User and System Based, Run Time Support</li>
										<li>Different type of SLA Options for your Expactations</li>
										<li>High Quality Professional Web, Email, Phone Support for your Questions</li>
										<li>Free test enviroment for CompecTA’s HPC Cluster FeynmanGrid & Deep Learning Cluster AydinGrid</li>
										<li>In addition to Nvidia’s Deep Learning Service Support (Academic or Commercial) Consultancy and Development Support and Collaboration for your Deep Learning Projects.</li>
									</ul>
									<div class="space-top ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
							<img class="" alt="NVIDIA DGX-1" src="images/mail-feynmangrid-banner.jpg">
								<div class="body">
									<h3>CompecTA Feynmangrid HPC Cluster <br> On-Demand Service</h3>
									<p>74.8 TFLOPS of FP16 Performance<br>37.2 TFLOPS of FP32 Performance</p>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla P100 16GB HBM2 Memory per GPU</strong></li>
										<li>14,336 Total CUDA® Cores</li>
										<li>4 x 512 SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span>Optional:</span>
									<ul>
										<li>Mellanox EDR 100Gb/s or FDR 56Gb/s Infiniband for GPU Direct RDMA</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			<div class="modal fade" id="SupportModal" tabindex="-1" role="dialog" aria-labelledby="SupportModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="SupportModalLabel">About Support</h4>
						</div>
						<div class="modal-body">
							<h5>Application Level Support</h5>
							<div class="separator-2"></div>
							<p>CompecTA, wielding its over 20 years of experience in High Performance Computing Clusters, gives system administration and application level support to its customers.</p>
							<p>We design and deploy the appliances for you and monitor them for failures. We manage everything starting from purchase orders to the running jobs on your system.</p>
							<p>This means we also support you with problems about your applications, hardware and software issues. That way the only thing left to you is enjoy your fast and powerful computing solution.</p>
							<h5>DGX-1 Support Details</h5>
							<div class="separator-2"></div>
							<p>NVIDIA DGX-1 support provides you with comprehensive system support and access to NVIDIA's cloud management portal to get the most comprehensive services from your NVIDIA DGX-1 system.</p>
							<p>Streamline deep learning experimentation by leveraging containerized application management, launch jobs, monitor status and get software updates with NVIDIA cloud management.</p>
							<h5>DGX-1 Documentation</h5>
							<div class="separator-2"></div>
							<ul>
								<li><a class="link-default" target="_blank" href="http://images.nvidia.com/content/technologies/deep-learning/pdf/DGX-1-UserGuide.pdf">DGX-1 User Guide</a></li>
								<li><a class="link-default" target="_blank" href="http://www.nvidia.com/object/dgx1-support.html">NVIDIA DGX-1 Support Page</a></li>
							</ul>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{% include "getinfo.html" %}
{% endblock %}