{% extends "base.html" %}
{% block title %}Deep Learning with CompecTA SuperNova X&trade; Series{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA SuperNova X&trade; Series{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}supernovax.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernovax.jpg'); background-position: 50% 50%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning with CompecTA SuperNova X&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Super-fast & Scalabe Deep Learning & AI Server Systems with up to 10-GPUs </p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound, and text.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine X&trade; is a <strong>super-fast and efficient in single-root complex</strong> server solution for Deep Learning needs.</p>
							<p>With  <strong>up to 10GPUs in 4U form factor</strong> CompecTA SuperNova Engine X&trade; provides <strong>top deep learning & AI performance and parallelization.</strong></p>
							<p>It comes with Deep Learning Neural Network libraries, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine X&trade; comes with an <strong>Enterprise Level Support</strong> package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine X&trade; comes with <strong>100 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova X&trade; Series</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning & AI Server Systems with up to 10-GPUs</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine X&trade; <strong><span class="text-default">XA30</span></strong> <sup class="badge badge-orange">POPULAR</sup></h3>
									<p class="performance"><strong>1,650 TFLOPS of Tensor Performance</strong><br>103 TFLOPS of FP32 Performance<br>52 TFLOPS of FP64 Performance<br>3,300 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											<span class="text-default">
												High Performance Computing<br>
												AI & Deep Learning Development<br>
												Fast Neural Network Training<br>
												Fast Inferencing<br>
												Rendering
											</span>
											</p>
											<p class="price"><small>prices starting from</small><br><strong>$93,295</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVAIS1-XA30V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="A30" src="images/supernova-xa100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 4U Rackmount Chassis 10-way PCIe GPUs</li>
										<li>PCI-E 4.0 x16 Switch Dual-Root complex</li>
										<li>Dual INTEL Xeon CPUs (up to 80-Cores)</li>
										<li>1 TB DDR4 3200MHz ECC Memory (up to 4TB)</li>
										<li><strong>10 x NVIDIA A30 24GB HBM2 Memory @ 933GB/s 165W</strong></li>
										<li><strong>38,040 Total CUDA® Cores</strong></li>
										<li><strong>3,240 Total Tensor Cores</strong></li>
										<li><strong>Up to 40 MIGs (Multi Instance GPUs) at 6GB each</strong></li>
										<li>4 x 3.84TB NVMe Disks <br class="visible-xs">(up to 24 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong></li>
										<li><strong>NVIDIA® NVLink™</strong> 2-Way Bridge</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine X&trade; <strong><span class="text-default">XA100</span></strong> <sup class="badge badge-red">BEST</sup></h3>
									<p class="performance"><strong>3,120 TFLOPS of Tensor Performance</strong><br>195 TFLOPS of FP32 Performance<br>97 TFLOPS of FP64 Performance<br>6,240 TOPS of INT8 Tensor Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											<span class="text-default">
												High Performance Computing<br>
												AI & Deep Learning Development<br>
												Super-fast Neural Network Training<br>
												Super-fast Inferencing<br>
												Rendering
											</span>
											</p>
											<p class="price"><small>prices starting from</small><br><strong>$245,795</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVAIS1-XA100V2</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NA104" src="images/supernova-xa100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 4U Rackmount Chassis 10-way PCIe GPUs</li>
										<li>PCI-E 4.0 x16 Switch Dual-Root complex</li>
										<li>Dual INTEL Xeon CPUs (up to 80-Cores)</li>
										<li>2 TB DDR4 3200MHz ECC Memory (up to 4TB)</li>
										<li><strong>10 x NVIDIA A100 80GB HBM2 Memory @ 1935GB/s 300W</strong></li>
										<li><strong>69,120 Total CUDA® Cores</strong></li>
										<li><strong>4,320 Total Tensor Cores</strong></li>
										<li><strong>Up to 70 MIGs (Multi Instance GPUs) at 10GB each</strong></li>
										<li>4 x 3.84TB NVMe Disks <br class="visible-xs">(up to 24 disks)</li>
										<li>Ubuntu Linux 20.04 / 22.04 LTS</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li>Anaconda Data Science Platform</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Infiniband <strong>HDR 200Gb/s Network</strong></li>
										<li><strong>NVIDIA® NVLink™</strong> 2-Way Bridge</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<h3>CompecTA SuperNova X&trade; Series Archived Products</h3>
							<p class="small"><em>Following products are no longer available to order.</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova Engine X&trade;</strong> <span class="text-default"><strong>XG80Ti</strong></span></h4>
									<p class="performance">113 TFLOPS of FP32 Performance<br>450 TOPS of INT8 Performance <br>&nbsp;</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									Good Neural Network Training<br>
									<span class="text-default">Super-fast Inferencing</span>
									</p>
									<p class="price"><strong>NOT AVAILABLE</strong><br>
									<small>CNVAIS1-XG80TIV1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xg80ti.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4.5U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA GTX 1080Ti 352-Bit 11GB GDDR5X 11 Gbps Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova Engine X&trade;</strong> <span class="text-default"><strong>XP100</strong></span></h4>
									<p class="performance">187 TFLOPS of FP16 Performance<br>93 TFLOPS of FP32 Performance<br>47 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Super-fast Neural Network Training</span><br>
									Super-fast Inferencing
									</p>
									<p class="price"><strong>NOT AVAILABLE</strong><br>
									<small>CNVAIS1-XP100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xp100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla P100 4096-Bit 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>35,840 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h4><strong>SuperNova Engine X&trade;</strong> <span class="text-default"><strong>XV100</strong></span></h4>
									<p class="performance"><strong>1120 TFLOPS of Tensor Performance</strong><br>140 TFLOPS of FP32 Performance<br>70 TFLOPS of FP64 Performance</p>
									<p class="bestfor">
									<small>Best suited for:</small><br>
									Deep Learning Development<br>
									<span class="text-default">Ultra-fast Neural Network Training</span><br>
									Super-fast Inferencing
									</p>
									<p class="price"><strong>NOT AVAILABLE</strong><br>
									<small>CNVAIS1-XV100V1</small></p>
									<div class="overlay-container pv-10">
										<img alt="" src="images/supernova-xv100.jpg">
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li><strong>GPUs under Single-Root complex</strong></li>
										<li>19" 4U Rackmount Chassis</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>10 x NVIDIA Tesla V100 4096-Bit 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>51,200 Total CUDA® Cores</strong></li>
										<li><strong>6,400 Total Tensor Cores</strong></li>
										<li>4 x 512GB SATA SSD Disks</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}