{% extends "base.html" %}
{% block title %}Deep Learning with CompecTA SuperNova&trade; Series{% endblock %}
{% block breadcrumbdropdown %}{% include "products.html" %}{% endblock %}
{% block breadcrumbactive %}CompecTA SuperNova&trade; Series{% endblock %}
{% block hreflang %}{% block langlinkmobile %}{% block langlink %}supernova.html{% endblock %}{% endblock %}{% endblock %}
{% block slider %}
			<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('images/banners/supernova.jpg'); background-position: 50% 53%;">
				<div class="container">
					<div class="row">
						<div class="col-md-10 text-center col-md-offset-1 pv-20">
							<h3 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep Learning with CompecTA SuperNova&trade; Series</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible large" data-animation-effect="fadeIn" data-effect-delay="100">Super-fast & Scalabe Deep Learning Systems </p>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Deep learning is the fastest-growing field in machine learning. It uses many-layered Deep Neural Networks (DNNs) to learn levels of representation and abstraction that make sense of data such as images, sound, and text.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->
{% endblock %}

{% block content %}
			<!-- section start -->
			<!-- ================ -->
			<section class="full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3>All-In-One & Ready to Use</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; is a <strong>super-fast and energy-efficient</strong> server solution for Deep Learning needs.</p>
							<p>Built with the <strong>world’s best hardware, software, and systems engineering</strong> and years of experience of CompecTA HPC Solutions.</p>
							<p>It comes with Deep Learning Neural Network libraries, Deep Learning Frameworks, Operating System and Drivers <strong>pre-installed and ready to use.</strong></p>
						</div>
						<div class="col-md-4">
							<h3>Enterprise Level Support</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with an <strong>Enterprise Level Support</strong> package from HPC experts with over 20 years of experience in the field.</p>
							<p>We will assist you with any problem you may encounter with your system.</p>
							<br>
							<img class="nv-preferred hidden-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
						</div>
						<div class="col-md-4">
							<h3>Free CPU Time</h3>
							<div class="separator-2"></div>
							<p>CompecTA SuperNova Engine&trade; comes with <strong>100 thousands hours of CPU Time</strong> on CompecTA's in-house HPC Cluster service called <strong>FeynmanGrid&trade;</strong>. </p>
							<p>Use this opportunity to gain experience on using HPC Clusters or performance test any application or to test some new code/application.</p>
							<img class="nv-preferred visible-xs" src="images/NVIDIA_ElitePartner.png" alt="NVIDIA Preferred Solution Provider">
							<div class="space-top visible-xs"></div>
							<img class="frameworks" src="images/frameworks.jpg" alt="DL Framewroks">
						</div>
					</div>
				</div>
			</section>
			<section class="light-gray-bg full-width-section pv-20 border-clear">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h3>CompecTA SuperNova&trade; Series</h3>
							<p class="small"><em>Super-fast & Scalable Deep Learning Server Systems</em></p>
							<div class="separator-2"></div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>P100</strong></span></h3>
									<p class="performance">74.8 TFLOPS of FP16 Performance<br>37.2 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Super-fast Neural Network Training</span><br>
											Good Inferencing
											</p>
											<p class="price"><strong>$45,217</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVAIS1-P100V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="P100" src="images/supernova-p40-p100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla P100 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>14,336 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>V100</strong></span> <sup class="badge badge-red">NEW</sup></h3>
									<p class="performance"><strong>448 TFLOPS of Tensor Performance</strong><br>56 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Super-fast Neural Network Training</span><br>
											Fast Inferencing
											</p>
											<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
											<small>CNVAIS1-V100V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="V100" src="images/supernova-v100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla V100 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>20,480 Total CUDA® Cores</strong></li>
										<li><strong>2,560 Total Tensor Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NP104</strong></span></h3>
									<p class="performance">84.8 TFLOPS of FP16 Performance<br>42.4 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Super-fast Neural Network Training</span><br>
											Good Inferencing
											</p>
											<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
											<small>CNVAIS1-NP104V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NP104" src="images/supernova-np100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way SXM2</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA P100 SXM2 with NVLink 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>Up to 80 GB/s GPU-to-GPU NVLINK</strong></li>
										<li><strong>14,336 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
 										<li>One additional <strong>NVIDIA&reg; Tesla P40</strong> for super-fast Inferencing</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NV104</strong></span> <sup class="badge badge-red">NEW</sup></h3>
									<p class="performance"><strong>500 TFLOPS of Tensor Performance</strong><br>62.8 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Super-fast Neural Network Training</span><br>
											Fast Inferencing
											</p>
											<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
											<small>CNVAIS1-NV104V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NP104" src="images/supernova-np100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way SXM2</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA V100 SXM2 with NVLink 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>Up to 300GB/s GPU-to-GPU NVLINK</strong></li>
										<li><strong>20,480 Total CUDA® Cores</strong></li>
										<li><strong>2,560 Total Tensor Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
 										<li>One additional <strong>NVIDIA&reg; Tesla P40</strong> for super-fast Inferencing</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NP108</strong></span></h3>
									<p class="performance">170 TFLOPS of FP16 Performance<br>84.8 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Ultra-fast Neural Network Training</span><br>
											Good Inferencing
											</p>
											<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
											<small>CNVAIS1-NP108V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NP108" src="images/supernova-8xnp100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 4U Rackmount Chassis 8-way SXM2</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>8 x NVIDIA P100 SXM2 with NVLink 16GB HBM2 at 732 GB/s Memory</strong></li>
										<li><strong>Up to 80 GB/s GPU-to-GPU NVLINK</strong></li>
										<li><strong>28,672 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(4 hot-swap)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<br>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Up to 4 x Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
									</ul><div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>NV108</strong></span> <sup class="badge badge-red">NEW</sup></h3>
									<p class="performance"><strong>1000 TFLOPS of Tensor Performance</strong><br>125.6 TFLOPS of FP32 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											<span class="text-default">Ultra-fast Neural Network Training</span><br>
											Fast Inferencing
											</p>
											<p class="price"><a class="link-default" href="contact.html">REQUEST A QUOTE</a><br>
											<small>CNVAIS1-NV108V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="NV108" src="images/supernova-8xnp100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 4U Rackmount Chassis 8-way SXM2</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>512 GB DDR4 2400MHz Memory</li>
										<li><strong>8 x NVIDIA V100 SXM2 with NVLink 16GB HBM2 at 900 GB/s Memory</strong></li>
										<li><strong>Up to 300GB/s GPU-to-GPU NVLINK</strong></li>
										<li><strong>40,960 Total CUDA® Cores</strong></li>
										<li><strong>5,120 Total Tensor Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(4 hot-swap)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Up to 4 x Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
									</ul><div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="image-box style-2 mb-20 bordered shadow">
								<div class="body">
									<h3>SuperNova Engine&trade; <span class="text-default"><strong>P40</strong></span></h3>
									<p class="performance">48 TFLOPS of FP32 Performance<br>188 TOPS of INT8 Performance</p>
									<div class="row">
										<div class="col-md-6">
											<p class="bestfor">
											<small>Best suited for:</small><br>
											Deep Learning Development<br>
											Good Neural Network Training<br>
											<span class="text-default">Super-fast Inferencing</span>
											</p>
											<p class="price"><strong>$46,970</strong> <small>(Excluding Taxes)</small><br>
											<small>CNVAIS1-P40V1</small></p>
										</div>
										<div class="col-md-6">
											<div class="overlay-container pv-10">
												<img alt="P40" src="images/supernova-p40-p100.jpg">
											</div>
										</div>
									</div>
									<div class="separator"></div>
									<ul class="ph-20">
										<li>19" 1U Rackmount Chassis 4-way GPGPU</li>
										<li>Intel® Xeon® Processor E5-2697A v4</li>
										<li>256 GB DDR4 2400MHz Memory</li>
										<li><strong>4 x NVIDIA Tesla P40 24GB Memory</strong></li>
										<li><strong>15,360 Total CUDA® Cores</strong></li>
										<li>4 x 512GB SSD Disks <br class="visible-xs">(2 hot-swap and 2 fixed)</li>
										<li>Ubuntu 14.04 / 16.04</li>
										<li>NVIDIA-qualified driver</li>
										<li>NVIDIA® DIGITS&trade;</li>
										<li>NVIDIA® CUDA® Toolkit</li>
										<li>NVIDIA® cuDNN&trade;</li>
										<li>Caffe, Theano, Torch, BIDMach</li>
										<li><strong>100k CPU Time on FeynmanGrid&trade;</strong></li>
										<li><strong>Enterprise Level Support from CompecTA® HPC Professional Services</strong></li>
									</ul>
									<span class="text-default">Optional:</span>
									<ul class="ph-20">
										<li>Mellanox <strong>EDR 100Gb/s or FDR 56Gb/s Infiniband</strong> for GPU Direct RDMA</li>
										<li>Faster <span class="text-default"><strong>Intel® Xeon® Scalable Processors</strong></span> with <span class="text-default"><strong>DDR4 2666MHz</strong></span> memory</li>
									</ul>
									<div class="ph-20">
										<a href="contact.html" class="btn btn-default btn-block btn-hvr hvr-shutter-out-horizontal margin-clear">CONTACT US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->
			{% include "getinfo.html" %}
{% endblock %}