/*
CompecTA CSS
Pars Tanıtım - 2015
bilgi@parstanitim.com
*/

.site-slogan {padding: 0 10px 0;}
.navbar-default .navbar-nav > li > a {font-size: 14px;}
.social-links.hidden-lg .dropdown {margin-top: 10px;}
.social-links .dropdown > button {font-size: 12px; color: #aaa; padding: 3px;}
.social-links .dropdown > button i{font-size: 16px; margin-right: 6px; vertical-align: top;}
.social-links .dropdown-menu {width: 100%; min-width: 120%; padding: 5px 10px;}
.social-links li {display: block;}
.social-links a {border-radius: none; border: none; background: none;}
/*.social-links li:first a{border-bottom: 1px solid #ccc;}*/
.social-links li img{display: inline-block; margin-right: 3px;}
.social-links.small li a {font-size: 11px; border: none;border-bottom: 1px solid #ccc;}
.dark .social-links li a {background: none; border: none; border-radius: none;}

.scrollToTop {right: 10px; bottom: 10px; width: 40px; height: 40px;}
.scrollToTop i {line-height: 40px; font-size: 20px;}

.fixed-header-on .header-left {padding:12px 0 0;}

.bayrak {margin-top: -2px; width: 16px;}
.header-top-first ul.loginbar {
    margin: 2px 0 0;
    padding: 8px;
}
.header-top-first ul.loginbar > li {
    display: inline;
    list-style: outside none none;
    padding-bottom: 15px;
    position: relative;
}
.header-top-first ul.loginbar > li > a, .header-top-first ul.loginbar > li > a:hover {
    color: #7c8082;
    font-size: 11px;
    text-transform: uppercase;
}
.header-top-first ul.loginbar li i.fa {
    color: #bbb;
}
.header-top-first ul.loginbar li.header-top-first-devider {
    border-right: 1px solid #bbb;
    font-family: Tahoma;
    font-size: 8px;
    margin: 0 9px 0 5px;
    padding: 0;
    position: relative;
    top: -1px;
}
.header-top-first ul.lenguages {
    background: #f0f0f0 none repeat scroll 0 0;
    display: none;
    left: -5px;
    list-style: outside none none;
    min-width: 100px;
    padding: 4px 0;
    position: absolute;
    top: 25px;
}
.header-top-first li:hover ul.lenguages {
    display: block;
}
.header-top-first ul.lenguages::after {
    border-bottom: 6px solid #f0f0f0;
    border-left: 6px inset transparent;
    border-right: 6px inset transparent;
    content: " ";
    display: block;
    height: 0;
    left: 8px;
    position: absolute;
    top: -4px;
    width: 0;
}
.header-top-first ul.lenguages li a {
    color: #555;
    display: block;
    font-size: 10px;
    margin-bottom: 1px;
    padding: 2px 12px;
    text-transform: uppercase;
}
.header-top-first ul.lenguages li.active a i {
    color: #999;
    float: right;
    margin-top: 2px;
}
.header-top-first ul.lenguages li a:hover, .header-top-first ul.lenguages li.active a {
    background: #fafafa none repeat scroll 0 0;
}
.header-top-first ul.lenguages li a:hover {
    text-decoration: none;
}

@media(max-width:767px){
header:not(.full-width) .logo img {margin: 10px;}
header:not(.full-width) #logo_img {z-index: 102; position: absolute;}
}