/*
CompecTA CSS
Pars Tanıtım - 2015
bilgi@parstanitim.com
*/

.site-slogan {padding: 0 10px 0;}
.navbar-default .navbar-nav > li > a {font-size: 14px;}
.social-links.hidden-lg .dropdown {margin-top: 10px;}
.social-links .dropdown > button {font-size: 12px; color: #aaa; padding: 3px;}
.social-links .dropdown > button i{font-size: 16px; margin-right: 6px; vertical-align: top;}
.social-links .dropdown-menu {width: 100%; min-width: 120%; padding: 5px 10px;}
.social-links li {display: block;}
.social-links a {border-radius: none; border: none; background: none;}
/*.social-links li:first a{border-bottom: 1px solid #ccc;}*/
.social-links li img{display: inline-block; margin-right: 3px;}
.social-links.small li a {font-size: 11px; border: none;border-bottom: 1px solid #ccc;}
.dark .social-links li a {background: none; border: none; border-radius: none;}

.scrollToTop {right: 10px; bottom: 10px; width: 40px; height: 40px;}
.scrollToTop i {line-height: 40px; font-size: 20px;}

.fixed-header-on .header-left {padding:12px 0 0;}

.bayrak {margin-top: -2px; width: 16px;}

@media(max-width:991px){
	.fixed-header-on .header-left {padding:0;}
}
@media(max-width:767px){
	header:not(.full-width) .logo img {margin: 10px;}
	header:not(.full-width) #logo_img {z-index: 102; position: absolute;}
}